services:
  maria:
    build: ./
    restart: unless-stopped
    depends_on:
      - chroma
      - ollama
    ports:
      - "3000:3000"
      - "3001:3001"
    environment:
      - OLLAMA_API_HOST=http://ollama:11434
      - CHROMADB_HOST=http://chroma:8000
      - FB_SERVICE_ACCOUNT=
      - SSL_FOLDER=
      - OLLAMA_EMBEDDING_MODEL=nomic-embed-text
      - OLLAMA_LLM=phi3
      - ALLOWED_ORIGIN=
    volumes:
      - ./maria:/usr/src/app/maria-data

  chroma:
    ports:
      - '8000:8000'
    image: 'chromadb/chroma:latest'

  ollama:
    volumes:
      - './ollama:/root/.ollama'
    ports:
      - '11434:11434'
    container_name: ollama
    environment:
      - OLLAMA_HOST=
    image: 'ollama/ollama:latest'
